/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 5em;
}
.icon-block .material-icons {
	font-size: inherit;
}

body, html {
    height: 100%;
}

div.wrap {
    height:100%;
    overflow:hidden;
}

body {
    overflow: hidden; 
}

.dot circle {
    fill: lightsteelblue;
    stroke: steelblue;
    stroke-width: 1px;
}

.dot circle.selected {
    fill: red;
    stroke: darkred;
    stroke-width: 1px;
}

.x-axis line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
    vector-effect: non-scaling-stroke;
}

.y-axis line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
    vector-effect: non-scaling-stroke;
}

div#image {
    overflow: hidden;
}

#main-wrapper {
    margin: 0;
    position: absolute;
    z-index: 0;
    right: 0em;
    bottom: 0em;
    top: 0em;
    left: 0em;
}

#side-head-top-button-h {
    position: fixed;
    z-index: 2;
    padding: 0.45em 1.05em;
    font-size: 14px;
    width: 48px;
    height: 48px;
    line-height: 48px;
}

#main-wrapper div {
    padding: 0;
}

div.tooltip {
    text-align: left;
    pointer-events: none;
}

.custom-menu_gene {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
}

.custom-menu_gene li {
    padding: 8px 12px;
    cursor: pointer;
}

.custom-menu_gene li:hover {
    background-color: #DEF;
}

.custom-menu_pano {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
}

.custom-menu_pano li {
    padding: 8px 12px;
    cursor: pointer;
}

.custom-menu_pano li:hover {
    background-color: #DEF;
}
